* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open sans", sans-serif;
}

.container {
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
}

.personalIno {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}



.personalIno .name {
    font-weight: bold;
    line-height: 2;
}

.personalIno .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}
/* contact in the phone screen */
@media (max-width: 768px) {
    .personalIno .contact {
        font-size: 14px;
        line-height: 1;
        flex-direction: column;
    }
}

.personalIno .contact p {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
}


.personalIno a {
    font-size: 23px;
    font-weight: bold;
    transition: all;
    transition-duration: 300ms;
    color: blue;
}

.personalIno a:hover {
    font-size: 26px
} 

.personalIno .job {
    line-height: 2;
}

.title {
    padding: 5px 0px;
}

@media (max-width: 768px) {
    .title {
        text-align: center;
    }
}

.upperline,
.underline {
    width: 100%;
    background-color: black;
}

.upperline {
    height: 4px;
}

.underline {
    height: 2.5px;
}

.divwrapper {
    padding: 15px 0px;
}


.summary p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    width: 85%;
}

.education ul {
    font-size: 23px;
    font-weight: 400;
}

.education ul li:first-child {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 35px;
    font-weight: 75px;
    line-height: 2;
}

@media (max-width: 768px) {
    .education ul li:first-child {
        list-style-position: outside;
    }
}

.education ul li:nth-child(2),
.education ul li:nth-child(3) {
    margin-left: 75px;
    line-height: 1.5;
}

.experience .project>li {
    list-style-position: inside;
    list-style-type: disc;
    font-size: 25px;
    font-weight: normal;
}

.experience .project ul li {
    list-style-type: circle;
    list-style-position: inside;
    font-size: 23px;
    font-weight: normal;
    margin-left: 100px;
    padding: 5px 0;
}

.experience .project ul li ul li {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
}

.skills ul li {
    list-style-position: inside;
    list-style-type: disc;
    font-size: 25px;
    font-weight: normal;
    line-height: 2;
}

.skills ul li ul li {
    list-style-position: inside;
    list-style-type: circle;
    font-size: 20px;
    font-weight: normal;
    margin-left: 100px;
    line-height: 1.5;
}

.courses ul li {
    list-style-position: inside;
    list-style-type: disc;
    font-size: 25px;
    font-weight: normal;
    line-height: 2;
}

.courses ul p {
    list-style-position: inside;
    list-style-type: circle;
    font-size: 20px;
    font-weight: normal;
    margin-left: 100px;
    line-height: 1.5; 
}

.addInfo ul li {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 20px;
    font-weight: normal;
}